@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
*{
        border: none;
        margin: 0; /* Remove margins globally */
        padding: 0; /* Remove padding globally */
        box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

@layer utilities {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
          display: none;
        }
    
        .no-scrollbar {
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
        }
    }

    .custom-scrollbar::-webkit-scrollbar {
      width: 8px; /* Set the width of the scrollbar */
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #1e293b; /* Background of the scrollbar track */
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #38bdf8; /* Scrollbar thumb color */
      border-radius: 6px; /* Rounded corners for the scrollbar thumb */
      border: 2px solid #1e293b; /* Add border around the thumb for better visibility */
    }
  
    /* Firefox */
    .custom-scrollbar {
      scrollbar-width: thin; /* Set scrollbar width to thin */
      scrollbar-color: #38bdf8 #1e293b; /* Set thumb and track colors */
    }
  